*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.App{
  position:relative;
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.counter{
  padding :1rem;
  border:1px solid #000;
  border-radius:1rem;
}

textarea{
  padding:8px;
  font-size:1.1rem;
  outline:none;
  background-color:#000;
  color:white;
}


